# R and Rstudio files
.Rhistory
.Rapp.history
.RData
.Ruserdata
.Rproj.user/
.Renviron

# simulation, knitr and R markdown cache directories
*_cache/
/cache/
cache/
cache
.channel_cache

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# simulation files + directories
config_db.yml
inputs/
outputs/
outputs

# saved simLists
spreadOut*

## R package libraries
packages/*
